@model TodoListWebApplication.Models.Entity.Todo

@{
    ViewData["Title"] = "Edit";
}



    <div class="col-md-4 offset-4">
        <form asp-action="Edit" class="card h-100" style="min-height: 300px !important" novalidate="novalidate">
            <input type="hidden" asp-for="Id" />
            <div class="form-group card-header">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group card-body">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="7" style="resize:none;width:100%" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group card-body">
                <label asp-for="ResponsiblePerson" class="control-label"></label>
                <input asp-for="ResponsiblePerson" class="form-control" />
                <span asp-validation-for="ResponsiblePerson" class="text-danger"></span>
            </div>
            <div class="form-group form-check card-body">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isComplated" /> @Html.DisplayNameFor(model => model.isComplated)
                </label>
            </div>
          
            <div class="form-group card-footer d-flex align-items-baseline">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary ml-2">Geri dön</a>

            </div>
        </form>
    </div>






   
