<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b4026515fc.js" crossorigin="anonymous"></script>

    <title>@ViewBag.Title</title>
    <style>
        .card-footer {
            justify-content: space-between;
        }

       
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-5">

            @RenderBody()

        </div>
    </div>
</body>
</html>
